name: test
on: push
jobs:
  job1: 
    name: Job one
    runs-on: ubuntu-latest
    steps:
    - name: Step one
      uses: actions/checkout@v2
    - name: step two
      run: env | sort
  job2:
    name: Job Two
    runs-on: windows-latest
    steps: 
    - name: step one
      uses: actions/checkout@v2
    - name: step two
      run: "Get-ChildItem Env: | Sort-Object Name"